.navbar-color {
  background-color: #92cbf4;
  color: white;
}
.input-position {
  width: 35%;
  height: 30px;
}
.input-rounded {
  border-radius: 30px 0px 0px 30px !important;
}
.button-rounded {
  border-radius: 0px 30px 30px 0px !important;
}
.search-icon-position {
  font-size: 18px;
  position: relative;
  top: 5px;
}
