.card-position {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  pointer-events: none;
  padding: 0.5rem;
  padding-top: 20px;
}
.card-hovered-text {
  font-size: 10px;
}
.card-icon {
  position: absolute;
  top: -20px;
  left: 20px;
}
.card-img-mobile {
  max-height: 280px;
  min-height: 150px;
  object-fit: cover;
  object-position: 0 0;
}
@media (max-width: 574px) {
  .card-img-mobile {
    max-height: 350px;
  }
}
